/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat' !important; overflow-x: hidden;}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    max-width: 1600px;
}





a
{
    text-decoration: none;
}
img, svg
{
    max-width: 100%;
    height: auto;
}



h1,h2,h3,h4,h5,h6,input,textarea
{
    font-family: 'Montserrat', sans-serif !important;
}



legend {
    display: table;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 0.01em 0 0 0;
}

ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

small
{
    display: inline-block;
}

fieldset
{
    display: inline-block;
}

.p-disabled,
.p-component:disabled {
    opacity: 1 !important;
}


