
.auth_layout_top
{
    background-color: var(--white);
    padding: 15px 0;
}

.auth_layout_top__content
{
    display: flex;
    justify-content: space-between;
}


.auth_layout_top__content div:last-child
{
    display: flex;
    align-items: center;
}

.auth_layout_top__content div:last-child a
{
    color: var(--main);
    display: inline-block;
    padding: 7px 15px;
    border: 1px solid var(--white);
    text-align: center;
    transition: all 0.3s;
}

.auth_layout_top__content div:last-child a:hover {
    color: var(--main) !important;
    background-color: var(--white);
    transition: all 0.3s;
    border: 1px solid var(--main);
}

.auth_layout_top__content div:last-child a:first-child
{
    margin-right: 15px;
}



.active
{
    background-color: var(--main);
    color: var(--white) !important;
}


a
{
    outline: none;
    color: var(--black);
}


footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    background-color: var(--main);
    padding-top: 20px;
}

footer a
{
    color: #fff;
}


.auth_layout_agrostarnn
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}


p
{
    margin-top: 15px;
    color: #fff;
}

@media screen and (max-width: 576px) {

    .auth_layout_top__content {
        flex-direction: column;
        align-items: center;
    }

    .auth_layout_top__content svg
    {
        margin-bottom: 10px;
    }
}