header
{
    height: 50px;
    background-color: #EEF2F5;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}



.page_title
{
    text-transform: uppercase;
    font-size: 21px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.avatar_trigger
{
    display: flex;
}

.avatar_trigger img
{
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.account_info
{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}


.account_info div:first-child
{
    text-transform: uppercase;
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

.account_info div:last-child
{
    display: inline-block;
    cursor: pointer;
    color: var(--red);
    font-size: 14px;
    line-height: 16px;
    margin-left: auto;
}


.account
{
    display: flex;
    align-items: center;
}

.back
{
    margin-right: 20px;
    background-color: var(--main);
    display: inline-flex;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.back svg
{
    margin-left: -1px;
}